django>=4.2
djangorestframework>=3.12
djangorestframework-simplejwt
django-admin-interface
django-colorfield
pytest
pytest-django
paho-mqtt>=1.6.1
django-cors-headers>=4.0
django-extensions>=3.2
pyOpenSSL>=23.0
Werkzeug>=3.0
gunicorn>=21.2.0
whitenoise>=6.6.0
python-decouple>=3.8
psycopg2-binary>=2.9.7
dj-database-url>=2.2.0
